.page-header {
  background-color: var(--color-background);
  width: 100vw;
  height: 12vh;
  box-shadow: 1px 1px 3px black;
}

.page-header .top-bar-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 320px;
  list-style: none;
}

.page-header .top-bar-container ul li {
  margin: 0 auto;
}

.page-header .top-bar-container ul li a {
  position: relative;
  text-decoration: none;
  color: var(--color-text-complement);

  font-size: 2.4rem;
  line-height: 7.6rem;
  transition: 200ms;
}

.page-header .top-bar-container ul li a.active {
  color: var(--color-primary);
  transition: 200ms;
  font-weight: bold;
}

.page-header .top-bar-container ul li a:hover {
  color: var(--color-primary-light);
}

.page-header .top-bar-container ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.page-header .top-bar-container ul li a:hover::after {
  width: 100%;
  transition: width 300ms ease-in-out;
}

@media (min-width: 1100px) {
  .page-header .top-bar-container ul li {
    margin: 0;
  }
}